<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  <property name="hibernate.connection.password">springdev</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/spring_boot_database?serverTimezone=UTC</property>
  <property name="hibernate.connection.username">springdev</property>
  <property name="hibernate.default_schema">spring_boot_database</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="openweb.wmc.model.entities.Contacts"/>
 </session-factory>
</hibernate-configuration>
